.tooltip_custom {
    position: relative;
    border-bottom: 1px dotted black;
}

.tooltip_custom .tooltiptext_custom {
    visibility: hidden;

    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip_custom .tooltiptext_custom::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip_custom:hover .tooltiptext_custom {
    visibility: visible;
    opacity: 1;
}
